@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: #fca0ae;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 50px;
}
h1 {
    color: #320a5a;
}