*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: rgba(0, 0, 0, 0.221);
    width: 100%;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container{
    background: linear-gradient(45deg, #fe4949, #3838ff, #47ff47);
    width: 30%;
    height: 200px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
}

h2{
    position: absolute;
    top: 20%;
    font-size: xx-large;
    /* left: 30%; */
}

#inputColor{
    position: absolute;
    /* background: black; */
    height: 40%;
    width: 60%;
    top: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input{
    width: 50px;
    border-radius: 2px;
    border: none;
    box-shadow: inset -2px -2px 3px 0px grey;
    cursor: pointer;
    outline: none;
    text-align: center;
    color: white;
}

.redColor{
    background: linear-gradient(90deg, red,rgb(128, 0, 0));
}

.greenColor{
    background: linear-gradient(90deg, rgb(0, 255, 0),rgb(0, 128, 0));
}

.blueColor{
    background: linear-gradient(90deg, rgb(0,0,255), rgb(0,0,128));
}

.color{
    background-color: red;
    width: 5px;
    height: 30px;
    cursor: pointer;
}

button{
    position: absolute;
    bottom: 40px;
    cursor: pointer;
    color: black;
    background: linear-gradient(135deg, yellow, orange);
    border: none;
    outline: none;
    padding: 2px;
    border-radius: 2px;
    transition: opacity 0.3s, transform 0.2s;
}

button:hover{
    opacity: 0.6;
    transform: scale(1.05);
}

input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    margin: 0;
    text-align: center;
    font-weight: bold;
    color: white;
}

/* Hide arrows */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* Optional: custom hover effect */
input[type=number]:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}




